<div *ngIf='StudentListVariable'>
    <h2>{{StudentListVariable.name | uppercase}}</h2>
    <div>
        Rank is {{StudentListVariable.age}}
    </div>
    <div>
        <label for='student-feedback'>Student feedback: </label>
        <!-- [(ngModel)] is Angular's two-way data binding syntax. You must opt-in to FormsModule in app.module.ts to run this. -->
        <input [(ngModel)]='StudentListVariable.name' placeholder='Please provide feedback'>
        <!-- Here [(ngModel)] binds the StudentConstant.feedback property to the HTML textbox so that data can flow in both directions: from the property to the textbox, and from the textbox back to the property. -->
    </div>
</div>