<!-- What we have in this component is assembled here, but must be added to app.component.html to render on the page. -->
<h1>Group Listed by Ranking</h1>
    <ul class="studentComponentProperty">
        <!-- *ngFor is Angular's repeater directive. It repeats the host element (in the below case, an <li></li> tag) for each element in  a list (in this case, the list is studentComponentProperty) -->
        <li 
        *ngFor='let StudentListVariable of studentComponentProperty' 
        [class.selected]="StudentListVariable === selectedStudent"
        (click)='onSelect(StudentListVariable)'>
            <p>
                {{StudentListVariable.name}} is {{StudentListVariable.age}}. 
            </p>
        </li>
    </ul>
<student-detail-component-selector [StudentListVariable]="selectedStudent"></student-detail-component-selector>